.navbar-brand{
    font-weight: bold;
}
/*navbar kleur */
.bg-gold-custom {
    background-color: #FFD700; 
}

h1{
text-align: center;
}

.container {
        width: auto;
        max-width: 100%;
    }

body {
    font-family: 'Inter', sans-serif;
    background-color: #FFFFFF; 
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding-top: 70px;
    }
.btn-primary {
      background-color: #FFD700; 
      border-color: #FFD700;
      border-radius: 0.5rem;
      color: #000; 
      transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
      margin-top: 1rem;
      text-align: center;
    }
.btn-primary:hover {
      background-color: #e6c200; /* Iets donkerder goud bij hover */
      border-color: #e6c200;
      box-shadow: 0 0.25rem 0.5rem rgba(255, 215, 0, 0.25); /* Gouden schaduw bij hover */
      color: #000; 
    }

form{
    background-color: black;
    color: white;
    width: 95%;
    max-width: 600px; 
    padding: 20px;
    margin-top: 1rem;
    border-radius: 1rem;
}
.radio-aanhef {
    display: flex; 
    gap: 1.0rem;   
    }
#aanhef {
    font-family: 'Inter', sans-serif;
    color: white;
    margin-bottom: 0.5rem;
}